body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #000000;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.loader-spawner {
  height: 100vh;
  width: 100vw;
}

.loader {
  position: relative;
  margin: auto;
  height: 400px;
  width: 200px;
  top: calc(50vh - 200px);
}

.spinner {
  position: relative;
  height: 200px;
  width: 200px;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-radius: 50%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.spinner::after {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  content: "";
  border: 4px solid transparent;
  border-top-color: #d0d0d0;
  border-left-color: #d0d0d0;
  border-radius: 50%;
  -webkit-animation: spinBack 2s linear infinite;
  animation: spinBack 2s linear infinite;
}

.spinner::before {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  content: "";
  border: 4px solid transparent;
  border-top-color: #909090;
  border-left-color: #909090;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinBack {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}

.loader_text {
  width: 200px;
}

.loader_text>p {
  width: 200px;
  color: white;
  text-align: center;
  font-size: 30px;
}

@media (max-width: 768px) {
  p {
    display: none;
  }
}
